<div style="position: relative; max-width: 700px; margin: auto;">
    <div style="max-width: 600px; margin: 32px auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); overflow: hidden;">
        <div style="background-color: #4f46e5; padding: 24px 32px;">
            <h1 style="font-size: 24px; font-weight: bold; color: #ffffff; text-align: center;">Đổi mật khẩu</h1>
        </div>
        <div style="padding: 32px;">
            <p style="color: #000; margin-bottom: 24px;">Xin chào,</p>
            <p style="color: #000; margin-bottom: 24px;">Để hoàn tất quá trình đổi mật khẩu, vui lòng xác thực tài khoản của bạn bằng cách nhấn vào liên kết dưới đây:</p>
            <div style=" border-radius: 8px; padding: 16px; margin-bottom: 24px;">
                <div style="margin-top: 16px; text-align: center;">
                    <a th:href="${link}" style="text-decoration: none;">
                        <button style="border-radius: 8px; background-color: #2563eb; color: #ffffff; padding: 10px 16px; border: none; cursor: pointer;">
                            Xác thực tài khoản
                        </button>
                    </a>
                </div>
            </div>

        </div>
        <div style="background-color: #f7fafc; padding: 16px 32px;">
            <p style="font-size: 14px; color: #718096; text-align: center;">&copy; 2025 GradingWeb. All rights reserved.</p>
        </div>
    </div>
</div>